.btn-primary{
    background-color: var(--primary)!important;
    border-color: var(--primary)!important;
    height: 42px!important;
    &:hover{
        background-color: var(--primary-dark)!important;
    }
}
.btn-g-account{
    height: 42px;
    border: 1px solid var(--form-border);
    display: flex;
    border-radius: 8px;
    text-align: center;
    &:hover{
        color: var(--text);
    }
}

.hover-blank{
    &:hover{
        color: var(--text);
    }
}

.btn-navy-small{
    background-color: #101B37;
    text-decoration: none;
    color: var(--white);
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 6px;
}