.btn-primary{
    background-color: var(--primary)!important;
    border-color: var(--primary)!important;
    height: 42px!important;
    &:hover{
        background-color: var(--primary-dark)!important;
    }
}
.btn-g-account{
    height: 42px;
    border: 1px solid var(--form-border);
    display: flex;
    border-radius: 8px;
    text-align: center;
    &:hover{
        color: var(--text);
    }
}

.hover-blank{
    &:hover{
        color: var(--text);
    }
}

.btn-navy-small{
    background-color: #101B37;
    text-decoration: none;
    color: var(--white);
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 6px;
}
.btn-view-all{
    padding: 6px 16px;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--white);
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    &:hover{
        background-color: var(--primary);
        color: var(--white);
    }
}

.btn-back{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--white);
    border: 1px solid #f1f1f1;
    border-radius: 160px;
    &:hover{
        color: var(--text);
    }
}

.btn-navey{
    background-color: #101B37!important;
    border-color: #101B37!important;
    &:hover{
        background-color: #162448!important;
        border-color: #101B37!important;
    }
}
.btn-red{
    background-color: #FF5C5C!important;
    color: var(--white);
    border-color: #FF5C5C;
    &:hover{
        background-color: #e25353!important;
        color: var(--white);
    }
}
.btn-secondary{
    background-color: var(--white);
    border-color: #D0D5DD;
    color: var(--heading);
}