.form-label {
    font-size: 14px !important;
}

.form-control {
    border: 1px solid var(--form-border) !important;
    height: 46px !important;
    font-weight: 300;
    font-size: 14px;

    @media (min-width: 992px) {
        height: 42px !important;
    }
}
.form-select{
    height: 46px !important;
}

.form-check-input:checked {
    background-color: var(--primary) !important;
    border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem var(--primary) !important;
}

.field-icon {
    right: 12px;
    top: 12px;
    position: absolute;
    z-index: 2;
    color: var(--text);

    @media (min-width: 992px) {
        top: 8px;
    }
}

.form-gap {
    max-width: 400px;
}

.required .control-label:after {
    content: "*";
    color: red;
}

//   file upload


.file-drop-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed #d1d1d1;
    border-radius: 3px;
    transition: 0.2s;
    justify-content: center;

}

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    color: var(--text);
}

.file-message {
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;

}

.mt-100 {
    margin-top: 100px;
}