.padding-top {
    padding-top: 24px;

    @media (min-width: 992px) {
        padding-top: 120px;
    }
}

.padding-bottom {
    padding-bottom: 24px;

    @media (min-width: 992px) {
        padding-bottom: 120px;
    }
}

.box {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 24px;

    @media (min-width: 992px) {
        width: 242px;
        height: 194px;
    }
}

.min-h-section {
    min-height: 700px;
}

.overall-stats-box{
    background-color: #101B37;
    border-radius: 10px;
    background-image: url(../img/bg-stats.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.plain-card{
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
}

.court{
    color: var(--heading);
    background-color: #7EEABB;
    padding: 24px;
    border-radius: 10px;
    text-align: center;
    a{
        &:hover{
            color: var(--heading);
            opacity: 0.6;
        }
    }
}
.class{
    color: var(--heading);
    background-color: var(--primary);
    border-radius: 10px;
    padding: 24px;
    text-align: center;
    a{
        &:hover{
            color: var(--heading);
            opacity: 0.6;
        }
    }
}

.settings{
    
}
.yrs-box{
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
}