.padding-top {
    padding-top: 50px;
    @media (min-width: 992px) {
        padding-top: 130px;
    }
}
.padding-bottom {
    padding-bottom: 50px;
    @media (min-width: 992px) {
        padding-bottom: 130px;
    }
}
.box {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 24px;
    @media (min-width: 992px) {
        width: 242px;
        height: 194px;
    }
}
