.side-bar {
    .profile-pic{
        background-color: #9089FC;
        height: 120px;
        width: 120px;
        border-radius: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
    }
}

.menus {
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        li {
            a {
                text-decoration: none;
                color: var(--text);
                font-size: 14px;
                width: 100%;
                padding: 14px;
                display: flex;
                border-radius: 8px;
                &:hover{
                    background-color: var(--heading);
                    color: var(--white);
                }
            }
            .active{
                background-color: var(--heading);
                color: var(--white);
            }
        }
    }
}