.nav-pills .nav-link{
    width: 150px;
    border-radius: 35px;
    background-color: #fff;
    color: var(--heading);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--primary);
}

.settings{
    .nav-pills .nav-link{
        width: auto;
        background-color: #fff;
        color: var(--text);
        border-radius: 0px;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        background: none;
        border-bottom: 3px solid var(--primary);
    } 
}
.tabs-balck{
    margin-top: 16px;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        background-color: #fff;
        border-radius: 35px;
        min-width: 160px;
        color: #666;
    }
    .active{
        background-color: #333;
        color: #fff;
    }
}

.tabs-options{
    margin-top: 16px;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        background-color: #fff;
        border: 1px solid #f1f1f1;
        border-radius: 35px;
        min-width: 160px;
        color: #666;
    }
    .active{
        background-color: #333;
        color: #fff;
    }
}