@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Audiowide&family=Inter:wght@100..900&family=Kode+Mono:wght@400..700&family=Micro+5&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poiret+One&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap");
body {
  background: linear-gradient(180deg, #f4f4f4 0%, #ffffff 100%);
}

.h-100-vh {
  min-height: 100vh;
}

.offcanvas-body {
  background-color: #F9F9F9;
}

.fit-height {
  min-height: calc(100vh - 160px);
}

ul {
  padding: 0;
  margin: 0;
}

.scroll-mob {
  overflow: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}
@media (min-width: 992px) {
  .scroll-mob {
    flex-wrap: wrap;
  }
}

.status {
  display: flex;
  border-radius: 35px;
  padding: 4px 16px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.not-started {
  background: rgba(252, 188, 188, 0.3);
  border: 1px solid rgba(255, 92, 92, 0.3);
  color: var(--danger);
}

.make-up {
  background: rgba(252, 149, 18, 0.1);
  border: 1px solid rgba(252, 149, 18, 0.3);
  color: #FC9512;
}

.class-left {
  background: rgba(0, 175, 255, 0.1);
  border: 1px solid rgba(0, 175, 255, 0.3);
  color: var(--primary);
}

.completed {
  background: rgba(15, 247, 163, 0.1);
  border: 1px solid #0FF7A3;
  color: var(--success);
}

.no-show {
  background: rgba(144, 137, 252, 0.1);
  border: 1px solid rgba(144, 137, 252, 0.3);
  color: #9089FC;
}

a {
  text-decoration: none;
}

.head-user {
  height: 43px;
  width: 43px;
  border-radius: 160px;
  overflow: hidden;
  border: 1px solid #f1f1f1;
}
.head-user img {
  width: 100%;
  height: 43px;
  -o-object-fit: cover;
     object-fit: cover;
}

.active-class {
  border-bottom: 3px solid var(--primary);
}

hr {
  border-color: #999;
}

.btn-primary {
  background-color: var(--primary) !important;
  border: none;
  height: 42px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-primary:hover {
  background-color: var(--primary-dark) !important;
  cursor: pointer;
}

.btn-g-account {
  height: 42px;
  border: 1px solid var(--form-border);
  display: flex;
  border-radius: 8px;
  text-align: center;
}
.btn-g-account:hover {
  color: var(--text);
  cursor: pointer;
}

.hover-blank:hover {
  color: var(--text);
  cursor: pointer;
}

.btn-navy-small {
  background-color: #101b37;
  text-decoration: none;
  color: var(--white);
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 6px;
}
.btn-navy-small:hover {
  color: var(--white);
  cursor: pointer;
}

.btn-view-all {
  padding: 6px 16px;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--white);
  border: 1px solid #f1f1f1;
  border-radius: 8px;
}
.btn-view-all:hover {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--white);
  border: 1px solid #f1f1f1;
  border-radius: 160px;
}
.btn-back:hover {
  color: var(--text);
  cursor: pointer;
}

.btn-navey {
  background-color: #101b37 !important;
  border-color: #101b37 !important;
}
.btn-navey:hover {
  background-color: #162448 !important;
  border-color: #101b37 !important;
  cursor: pointer;
}

.btn-red {
  background-color: #ff5c5c !important;
  color: var(--white);
  border-color: #ff5c5c;
}
.btn-red:hover {
  background-color: #e25353 !important;
  color: var(--white) !important;
  cursor: pointer;
}

.btn-secondary {
  background-color: var(--white);
  border-color: #d0d5dd;
  color: var(--heading);
}

.btn-outline-red {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #e25353;
  color: #e25353;
}
.btn-outline-red:hover {
  border: 1px solid #e25353;
  color: #e25353;
  cursor: pointer;
}

.btn-success {
  width: 70px;
  font-size: 13px;
}

.fit-full-image {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-autharized {
  background-color: #101B37;
  height: 70px;
}
@media (min-width: 992px) {
  .header-autharized {
    height: 80px;
  }
}
.header-autharized .logo img {
  height: 30px;
}
.header-autharized .user-head {
  width: 42px;
  height: 42px;
  border-radius: 160px;
  background-color: #242f50;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-autharized .notification {
  width: 42px;
  height: 42px;
  border-radius: 160px;
  background-color: #242f50;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-autharized .notification .dot {
  width: 6px;
  height: 6px;
  border-radius: 160px;
  background-color: red;
  position: absolute;
  right: 15px;
  top: 12px;
}

.btn-menu {
  width: 37px;
  height: 37px;
  background-color: #242f50;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  flex: 0 0 auto;
}

.offcanvas-start {
  color: #fff;
  width: 280px !important;
  background-color: #10131B;
  border-radius: 0px 20px 20px 0px;
  padding: 40px;
}
.offcanvas-start .offcanvas-body {
  background-color: #10131B;
  padding: 0px;
}
.offcanvas-start ul {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.offcanvas-start ul li a {
  text-decoration: none;
  color: #6f819b;
}
.offcanvas-start ul li .active {
  color: var(--white);
}

.user-head-big {
  width: 60px;
  height: 60px;
  border-radius: 160px;
  background-color: #9089FC;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--white);
}
.user-head-big img {
  width: 100%;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #101B37;
  height: 100px;
}

.container-xl {
  padding: 0px 24px;
}

body {
  font-family: "Outfit", sans-serif;
}

.h1 {
  font-size: 30px !important;
}

.fs-4 {
  font-size: 4px;
}

.fs-5 {
  font-size: 5px;
}

.fs-6 {
  font-size: 6px;
}

.fs-7 {
  font-size: 7px;
}

.fs-8 {
  font-size: 8px;
}

.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-31 {
  font-size: 31px;
}

.fs-32 {
  font-size: 32px;
}

.fs-33 {
  font-size: 33px;
}

.fs-34 {
  font-size: 34px;
}

.fs-35 {
  font-size: 35px;
}

.fs-36 {
  font-size: 36px;
}

.fs-37 {
  font-size: 37px;
}

.fs-38 {
  font-size: 38px;
}

.fs-39 {
  font-size: 39px;
}

.fs-40 {
  font-size: 40px;
}

.fs-41 {
  font-size: 41px;
}

.fs-42 {
  font-size: 42px;
}

.fs-43 {
  font-size: 43px;
}

.fs-44 {
  font-size: 44px;
}

.fs-45 {
  font-size: 45px;
}

.fs-46 {
  font-size: 46px;
}

.fs-47 {
  font-size: 47px;
}

.fs-48 {
  font-size: 48px;
}

.font-weight-600 {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --primary: #00AFFF;
  --black: #000;
  --heading: #101B37;
  --text: #475467;
  --form-border: #D0D5DD;
  --primary-dark: #0297dc;
  --success: #00D685;
  --info: #0297dc;
  --danger: #FF5C5C;
  --warning: #0297dc;
  --orange: #FED319;
  --purple: #9089FC;
}

.text-color {
  color: var(--text);
  font-weight: 300;
}

.text-heading {
  color: var(--heading);
}

.text-primary {
  color: var(--primary) !important;
}

.text-dim {
  color: #6f819b !important;
}

.bg-gray {
  background-color: #EEEEEF;
  border-radius: 10px;
}

.text-orange {
  color: var(--orange);
}

.light-blue {
  background-color: #D6ECFA;
}

.light-brown {
  background-color: #F0E5DE;
}

.light-green {
  background-color: #E0F7F6;
}

.text-success {
  color: var(--success) !important;
}

.text-info {
  color: var(--info) !important;
}

.today-list {
  border: 1px solid rgba(0, 214, 133, 0.3) !important;
}

.tommorow-list {
  border: 1px solid rgba(255, 139, 0, 0.3) !important;
}

.text-class-left {
  color: var(--info);
}

.text-class-no-show {
  color: var(--purple);
}

.text-class-make-up {
  color: var(--orange);
}

.hover-text:hover {
  color: var(--text);
}

.table-light {
  background-color: #E6EEFC;
}
.table-light th {
  height: 50px;
  min-width: 100px;
}

.bg-success {
  background-color: var(--success) !important;
}

.padding-top {
  padding-top: 24px;
}
@media (min-width: 992px) {
  .padding-top {
    padding-top: 120px;
  }
}

.padding-bottom {
  padding-bottom: 24px;
}
@media (min-width: 992px) {
  .padding-bottom {
    padding-bottom: 120px;
  }
}

.box {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 24px;
}
@media (min-width: 992px) {
  .box {
    width: 242px;
    height: 194px;
  }
}

.min-h-section {
  min-height: 700px;
}

.overall-stats-box {
  background-color: #101B37;
  border-radius: 10px;
  background-image: url(../img/bg-stats.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.plain-card {
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 10px;
}

.court {
  color: var(--heading);
  background-color: #7EEABB;
  padding: 24px;
  border-radius: 10px;
  text-align: center;
}
.court a:hover {
  color: var(--heading);
  opacity: 0.6;
}

.class {
  color: var(--heading);
  background-color: var(--primary);
  border-radius: 10px;
  padding: 24px;
  text-align: center;
}
.class a:hover {
  color: var(--heading);
  opacity: 0.6;
}

.form-label {
  font-size: 14px !important;
}

.form-control {
  border: 1px solid var(--form-border) !important;
  height: 46px !important;
  font-weight: 300;
  font-size: 14px;
}
@media (min-width: 992px) {
  .form-control {
    height: 42px !important;
  }
}

.form-check-input:checked {
  background-color: var(--primary) !important;
  border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem var(--primary) !important;
}

.field-icon {
  right: 12px;
  top: 12px;
  position: absolute;
  z-index: 2;
  color: var(--text);
}
@media (min-width: 992px) {
  .field-icon {
    top: 8px;
  }
}

.form-gap {
  max-width: 400px;
}

.required .control-label:after {
  content: "*";
  color: red;
}

.file-drop-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed #d1d1d1;
  border-radius: 3px;
  transition: 0.2s;
  justify-content: center;
}

.choose-file-button {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  color: var(--text);
}

.file-message {
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.mt-100 {
  margin-top: 100px;
}

.head {
  width: 38px;
  height: 38px;
  background-color: #999;
  border-radius: 160px;
  flex: 0 0 auto;
}
.head img {
  width: 100%;
  height: 38px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dot-active {
  width: 10px;
  height: 10px;
  border-radius: 160px;
  background-color: red;
  flex: 0 0 auto;
}

.side-bar .profile-pic {
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  overflow: hidden;
}
.side-bar .profile-pic img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menus ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menus ul li a {
  text-decoration: none;
  color: var(--text);
  font-size: 14px;
  width: 100%;
  padding: 14px;
  display: flex;
  border-radius: 8px;
}
.menus ul li a:hover {
  background-color: var(--heading);
  color: var(--white);
}
.menus ul li .active {
  background-color: var(--heading);
  color: var(--white);
}

.nav-pills .nav-link {
  width: 150px;
  border-radius: 35px;
  background-color: #fff;
  color: var(--heading);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: var(--primary);
}

.settings .nav-pills .nav-link {
  width: auto;
  background-color: #fff;
  color: var(--text);
  border-radius: 0px;
}
.settings .nav-pills .nav-link.active, .settings .nav-pills .show > .nav-link {
  background: none;
  border-bottom: 3px solid var(--primary);
}

/*--------- Pager2 ---------*/
.Pager2 .pagination .page-item .page-link:hover {
  transition: all 0.3s linear;
  border-radius: 0.125rem;
  background-color: #eee;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.Pager2 .pagination .page-item.active .page-link {
  transition: all 0.2s linear;
  border-radius: 0.125rem;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  color: var(--primary);
}

.Pager2 .pagination .page-item .page-link {
  transition: all 0.3s linear;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 0.9rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.Pager2 .pagination .page-item.active .page-link {
  border: 1px solid #f1f1f1 !important;
  background-color: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pager2 .page-link {
  border: none !important;
}

.Pager2 .page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0;
}

.court-list ul {
  display: flex;
  gap: 8px;
}
.court-list ul li {
  display: flex;
  width: 40px;
  height: 40px;
  color: var(--heading);
  background-color: var(--white);
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}
.court-list ul li:hover {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}
.court-list ul .active {
  background-color: var(--primary);
  color: var(--white);
}

.time-list ul {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.time-list ul li {
  display: flex;
  min-width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--heading);
  background-color: var(--white);
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  padding: 10px 0px;
}
@media (min-width: 992px) {
  .time-list ul li {
    min-width: 300px;
  }
}
.time-list ul li:hover {
  background-color: #101b37;
  color: var(--white);
  cursor: pointer;
}
.time-list ul .active {
  background-color: #101b37;
  color: var(--white);
}

.date-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  color: var(--text);
  font-size: 14px;
}
.date-list .active {
  background-color: var(--heading);
  border-color: var(--heading);
  color: var(--white);
}

.modal-header {
  padding: 48px 48px 24px 48px;
}

.modal-body {
  padding: 24px 48px 48px 48px;
}

.modal-content {
  border-radius: 20px;
}/*# sourceMappingURL=main.css.map */