@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Audiowide&family=Inter:wght@100..900&family=Kode+Mono:wght@400..700&family=Micro+5&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poiret+One&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap");
body {
  background: linear-gradient(180deg, #f4f4f4 0%, #ffffff 100%);
}

a:hover {
  cursor: pointer;
}

.h-100-vh {
  min-height: 100vh;
}

.offcanvas-body {
  background-color: #F9F9F9;
}

.fit-height {
  min-height: calc(100vh - 160px);
}

ul {
  padding: 0;
  margin: 0;
}

.scroll-mob {
  overflow: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}
@media (min-width: 992px) {
  .scroll-mob {
    flex-wrap: wrap;
  }
}

.scroll-all {
  overflow: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.status {
  display: flex;
  border-radius: 35px;
  padding: 4px 16px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.not-started {
  background: rgba(252, 188, 188, 0.3);
  border: 1px solid rgba(255, 92, 92, 0.3);
  color: var(--danger);
}

.make-up {
  background: rgba(252, 149, 18, 0.1);
  border: 1px solid rgba(252, 149, 18, 0.3);
  color: #FC9512;
}

.class-left {
  background: rgba(0, 175, 255, 0.1);
  border: 1px solid rgba(0, 175, 255, 0.3);
  color: var(--primary);
}

.completed {
  background: rgba(15, 247, 163, 0.1);
  border: 1px solid #0FF7A3;
  color: var(--success);
}

.no-show {
  background: rgba(144, 137, 252, 0.1);
  border: 1px solid rgba(144, 137, 252, 0.3);
  color: #9089FC;
}

a {
  text-decoration: none;
}

.head-user {
  height: 43px;
  width: 43px;
  border-radius: 160px;
  overflow: hidden;
  border: 1px solid #f1f1f1;
}
.head-user img {
  width: 100%;
  height: 43px;
  -o-object-fit: cover;
     object-fit: cover;
}

.active-class .plain-card {
  background-color: var(--heading);
  color: var(--white);
}
.active-class .plain-card h2 {
  color: var(--white) !important;
}
.active-class .plain-card span {
  color: var(--white);
}

hr {
  border-color: #999;
}

.width-50 {
  width: 50px;
}

.width-51 {
  width: 51px;
}

.width-52 {
  width: 52px;
}

.width-53 {
  width: 53px;
}

.width-54 {
  width: 54px;
}

.width-55 {
  width: 55px;
}

.width-56 {
  width: 56px;
}

.width-57 {
  width: 57px;
}

.width-58 {
  width: 58px;
}

.width-59 {
  width: 59px;
}

.width-60 {
  width: 60px;
}

.width-61 {
  width: 61px;
}

.width-62 {
  width: 62px;
}

.width-63 {
  width: 63px;
}

.width-64 {
  width: 64px;
}

.width-65 {
  width: 65px;
}

.width-66 {
  width: 66px;
}

.width-67 {
  width: 67px;
}

.width-68 {
  width: 68px;
}

.width-69 {
  width: 69px;
}

.width-70 {
  width: 70px;
}

.width-71 {
  width: 71px;
}

.width-72 {
  width: 72px;
}

.width-73 {
  width: 73px;
}

.width-74 {
  width: 74px;
}

.width-75 {
  width: 75px;
}

.width-76 {
  width: 76px;
}

.width-77 {
  width: 77px;
}

.width-78 {
  width: 78px;
}

.width-79 {
  width: 79px;
}

.width-80 {
  width: 80px;
}

.width-81 {
  width: 81px;
}

.width-82 {
  width: 82px;
}

.width-83 {
  width: 83px;
}

.width-84 {
  width: 84px;
}

.width-85 {
  width: 85px;
}

.width-86 {
  width: 86px;
}

.width-87 {
  width: 87px;
}

.width-88 {
  width: 88px;
}

.width-89 {
  width: 89px;
}

.width-90 {
  width: 90px;
}

.width-91 {
  width: 91px;
}

.width-92 {
  width: 92px;
}

.width-93 {
  width: 93px;
}

.width-94 {
  width: 94px;
}

.width-95 {
  width: 95px;
}

.width-96 {
  width: 96px;
}

.width-97 {
  width: 97px;
}

.width-98 {
  width: 98px;
}

.width-99 {
  width: 99px;
}

.width-100 {
  width: 100px;
}

.width-101 {
  width: 101px;
}

.width-102 {
  width: 102px;
}

.width-103 {
  width: 103px;
}

.width-104 {
  width: 104px;
}

.width-105 {
  width: 105px;
}

.width-106 {
  width: 106px;
}

.width-107 {
  width: 107px;
}

.width-108 {
  width: 108px;
}

.width-109 {
  width: 109px;
}

.width-110 {
  width: 110px;
}

.width-111 {
  width: 111px;
}

.width-112 {
  width: 112px;
}

.width-113 {
  width: 113px;
}

.width-114 {
  width: 114px;
}

.width-115 {
  width: 115px;
}

.width-116 {
  width: 116px;
}

.width-117 {
  width: 117px;
}

.width-118 {
  width: 118px;
}

.width-119 {
  width: 119px;
}

.width-120 {
  width: 120px;
}

.width-121 {
  width: 121px;
}

.width-122 {
  width: 122px;
}

.width-123 {
  width: 123px;
}

.width-124 {
  width: 124px;
}

.width-125 {
  width: 125px;
}

.width-126 {
  width: 126px;
}

.width-127 {
  width: 127px;
}

.width-128 {
  width: 128px;
}

.width-129 {
  width: 129px;
}

.width-130 {
  width: 130px;
}

.width-131 {
  width: 131px;
}

.width-132 {
  width: 132px;
}

.width-133 {
  width: 133px;
}

.width-134 {
  width: 134px;
}

.width-135 {
  width: 135px;
}

.width-136 {
  width: 136px;
}

.width-137 {
  width: 137px;
}

.width-138 {
  width: 138px;
}

.width-139 {
  width: 139px;
}

.width-140 {
  width: 140px;
}

.width-141 {
  width: 141px;
}

.width-142 {
  width: 142px;
}

.width-143 {
  width: 143px;
}

.width-144 {
  width: 144px;
}

.width-145 {
  width: 145px;
}

.width-146 {
  width: 146px;
}

.width-147 {
  width: 147px;
}

.width-148 {
  width: 148px;
}

.width-149 {
  width: 149px;
}

.width-150 {
  width: 150px;
}

.width-151 {
  width: 151px;
}

.width-152 {
  width: 152px;
}

.width-153 {
  width: 153px;
}

.width-154 {
  width: 154px;
}

.width-155 {
  width: 155px;
}

.width-156 {
  width: 156px;
}

.width-157 {
  width: 157px;
}

.width-158 {
  width: 158px;
}

.width-159 {
  width: 159px;
}

.width-160 {
  width: 160px;
}

.width-161 {
  width: 161px;
}

.width-162 {
  width: 162px;
}

.width-163 {
  width: 163px;
}

.width-164 {
  width: 164px;
}

.width-165 {
  width: 165px;
}

.width-166 {
  width: 166px;
}

.width-167 {
  width: 167px;
}

.width-168 {
  width: 168px;
}

.width-169 {
  width: 169px;
}

.width-170 {
  width: 170px;
}

.width-171 {
  width: 171px;
}

.width-172 {
  width: 172px;
}

.width-173 {
  width: 173px;
}

.width-174 {
  width: 174px;
}

.width-175 {
  width: 175px;
}

.width-176 {
  width: 176px;
}

.width-177 {
  width: 177px;
}

.width-178 {
  width: 178px;
}

.width-179 {
  width: 179px;
}

.width-180 {
  width: 180px;
}

.width-181 {
  width: 181px;
}

.width-182 {
  width: 182px;
}

.width-183 {
  width: 183px;
}

.width-184 {
  width: 184px;
}

.width-185 {
  width: 185px;
}

.width-186 {
  width: 186px;
}

.width-187 {
  width: 187px;
}

.width-188 {
  width: 188px;
}

.width-189 {
  width: 189px;
}

.width-190 {
  width: 190px;
}

.width-191 {
  width: 191px;
}

.width-192 {
  width: 192px;
}

.width-193 {
  width: 193px;
}

.width-194 {
  width: 194px;
}

.width-195 {
  width: 195px;
}

.width-196 {
  width: 196px;
}

.width-197 {
  width: 197px;
}

.width-198 {
  width: 198px;
}

.width-199 {
  width: 199px;
}

.width-200 {
  width: 200px;
}

.width-201 {
  width: 201px;
}

.width-202 {
  width: 202px;
}

.width-203 {
  width: 203px;
}

.width-204 {
  width: 204px;
}

.width-205 {
  width: 205px;
}

.width-206 {
  width: 206px;
}

.width-207 {
  width: 207px;
}

.width-208 {
  width: 208px;
}

.width-209 {
  width: 209px;
}

.width-210 {
  width: 210px;
}

.width-211 {
  width: 211px;
}

.width-212 {
  width: 212px;
}

.width-213 {
  width: 213px;
}

.width-214 {
  width: 214px;
}

.width-215 {
  width: 215px;
}

.width-216 {
  width: 216px;
}

.width-217 {
  width: 217px;
}

.width-218 {
  width: 218px;
}

.width-219 {
  width: 219px;
}

.width-220 {
  width: 220px;
}

.width-221 {
  width: 221px;
}

.width-222 {
  width: 222px;
}

.width-223 {
  width: 223px;
}

.width-224 {
  width: 224px;
}

.width-225 {
  width: 225px;
}

.width-226 {
  width: 226px;
}

.width-227 {
  width: 227px;
}

.width-228 {
  width: 228px;
}

.width-229 {
  width: 229px;
}

.width-230 {
  width: 230px;
}

.width-231 {
  width: 231px;
}

.width-232 {
  width: 232px;
}

.width-233 {
  width: 233px;
}

.width-234 {
  width: 234px;
}

.width-235 {
  width: 235px;
}

.width-236 {
  width: 236px;
}

.width-237 {
  width: 237px;
}

.width-238 {
  width: 238px;
}

.width-239 {
  width: 239px;
}

.width-240 {
  width: 240px;
}

.width-241 {
  width: 241px;
}

.width-242 {
  width: 242px;
}

.width-243 {
  width: 243px;
}

.width-244 {
  width: 244px;
}

.width-245 {
  width: 245px;
}

.width-246 {
  width: 246px;
}

.width-247 {
  width: 247px;
}

.width-248 {
  width: 248px;
}

.width-249 {
  width: 249px;
}

.width-250 {
  width: 250px;
}

@media (min-width: 992px) {
  .w-lg-auto {
    width: auto !important;
  }
}
.radius-35 {
  border-radius: 35px;
}

.progress {
  height: 10px;
}

.btn-primary {
  background-color: var(--primary) !important;
  border: none;
  height: 42px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-primary:hover {
  background-color: var(--primary-dark) !important;
  cursor: pointer;
}

.btn-g-account {
  height: 42px;
  border: 1px solid var(--form-border);
  display: flex;
  border-radius: 8px;
  text-align: center;
}
.btn-g-account:hover {
  color: var(--text);
  cursor: pointer;
}

.hover-blank:hover {
  color: var(--text);
  cursor: pointer;
}

.btn-navy-small {
  background-color: #101b37;
  text-decoration: none;
  color: var(--white);
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 6px;
}
.btn-navy-small:hover {
  color: var(--white);
  cursor: pointer;
}

.btn-view-all {
  padding: 6px 16px;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--white);
  border: 1px solid #f1f1f1;
  border-radius: 8px;
}
.btn-view-all:hover {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--white);
  border: 1px solid #f1f1f1;
  border-radius: 160px;
}
.btn-back:hover {
  color: var(--text);
  cursor: pointer;
}

.btn-navey {
  background-color: #101b37 !important;
  border-color: #101b37 !important;
}
.btn-navey:hover {
  background-color: #162448 !important;
  border-color: #101b37 !important;
  cursor: pointer;
}

.btn-red {
  background-color: #ff5c5c !important;
  color: var(--white);
  border-color: #ff5c5c;
}
.btn-red:hover {
  background-color: #e25353 !important;
  color: var(--white) !important;
  cursor: pointer;
}

.btn-secondary {
  background-color: var(--white);
  border-color: #d0d5dd;
  color: var(--heading);
}

.btn-outline-red {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #e25353;
  color: #e25353;
}
.btn-outline-red:hover {
  border: 1px solid #e25353;
  color: #e25353;
  cursor: pointer;
}

.btn-success {
  width: 70px;
  font-size: 13px;
}

.fit-full-image {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.court-icon {
  height: 16px;
}

.lock {
  display: flex;
  width: 86px;
  height: 86px;
  border-radius: 160px;
  align-items: center;
  justify-content: center;
  color: var(--danger);
  border: 1px solid #e1e1e1;
  font-size: 28px;
}
.lock:hover {
  color: var(--danger);
}

.unlock {
  display: flex;
  width: 86px;
  height: 86px;
  border-radius: 160px;
  align-items: center;
  justify-content: center;
  color: var(--success);
  border: 1px solid #e1e1e1;
  font-size: 28px;
}

.block-card {
  border: 1px solid #f1f1f1;
  border-radius: 6px;
}

.progress {
  position: relative;
}

.round-handle {
  position: absolute;
  border-radius: 160px;
  width: 21px;
  height: 21px;
  background: #ffffff;
  border: 2px solid rgba(102, 102, 102, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  left: 0;
  top: -5px;
  z-index: 1;
}

.header-autharized {
  background-color: #101B37;
  height: 70px;
}
@media (min-width: 992px) {
  .header-autharized {
    height: 80px;
  }
}
.header-autharized .logo img {
  height: 30px;
}
.header-autharized .user-head {
  width: 42px;
  height: 42px;
  border-radius: 160px;
  background-color: #242f50;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.header-autharized .user-head img {
  width: 100%;
  height: 42px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-autharized .notification {
  width: 42px;
  height: 42px;
  border-radius: 160px;
  background-color: #242f50;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-autharized .notification .dot {
  width: 6px;
  height: 6px;
  border-radius: 160px;
  background-color: red;
  position: absolute;
  right: 15px;
  top: 12px;
}

.btn-menu {
  width: 37px;
  height: 37px;
  background-color: #242f50;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  flex: 0 0 auto;
}
.btn-menu:hover {
  color: var(--white);
}

.offcanvas-start {
  color: #fff;
  width: 280px !important;
  background-color: #10131B;
  border-radius: 0px 20px 20px 0px;
  padding: 40px;
}
.offcanvas-start .offcanvas-body {
  background-color: #10131B;
  padding: 0px;
}
.offcanvas-start ul {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.offcanvas-start ul li a {
  text-decoration: none;
  color: #6f819b;
}
.offcanvas-start ul li .active {
  color: var(--white);
}

.user-head-big {
  width: 60px;
  height: 60px;
  border-radius: 160px;
  background-color: #9089FC;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--white);
}
.user-head-big img {
  width: 100%;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #101B37;
  height: 100px;
}

.container-xl {
  padding: 0px 24px;
}

body {
  font-family: "Outfit", sans-serif;
}

.h1 {
  font-size: 30px !important;
}

.fs-4 {
  font-size: 4px;
}

.fs-5 {
  font-size: 5px;
}

.fs-6 {
  font-size: 6px;
}

.fs-7 {
  font-size: 7px;
}

.fs-8 {
  font-size: 8px;
}

.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-31 {
  font-size: 31px;
}

.fs-32 {
  font-size: 32px;
}

.fs-33 {
  font-size: 33px;
}

.fs-34 {
  font-size: 34px;
}

.fs-35 {
  font-size: 35px;
}

.fs-36 {
  font-size: 36px;
}

.fs-37 {
  font-size: 37px;
}

.fs-38 {
  font-size: 38px;
}

.fs-39 {
  font-size: 39px;
}

.fs-40 {
  font-size: 40px;
}

.fs-41 {
  font-size: 41px;
}

.fs-42 {
  font-size: 42px;
}

.fs-43 {
  font-size: 43px;
}

.fs-44 {
  font-size: 44px;
}

.fs-45 {
  font-size: 45px;
}

.fs-46 {
  font-size: 46px;
}

.fs-47 {
  font-size: 47px;
}

.fs-48 {
  font-size: 48px;
}

.font-weight-600 {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

.font-weight-normal {
  font-weight: normal;
}

:root {
  --white: #fff;
  --primary: #00afff;
  --black: #000;
  --heading: #101b37;
  --text: #475467;
  --form-border: #d0d5dd;
  --primary-dark: #0297dc;
  --success: #00d685;
  --info: #0297dc;
  --danger: #ff5c5c;
  --warning: #0297dc;
  --orange: #fed319;
  --purple: #9089fc;
}

.text-color {
  color: var(--text);
  font-weight: 300;
}

.text-heading {
  color: var(--heading);
}

.text-primary {
  color: var(--primary) !important;
}

.text-dim {
  color: #6f819b !important;
}

.bg-gray {
  background-color: #eeeeef;
  border-radius: 10px;
}

.text-orange {
  color: var(--orange);
}

.light-blue {
  background-color: #d6ecfa;
}

.light-brown {
  background-color: #f0e5de;
}

.light-green {
  background-color: #e0f7f6;
}

.text-success {
  color: var(--success) !important;
}

.text-info {
  color: var(--info) !important;
}

.today-list {
  border: 1px solid rgba(0, 214, 133, 0.3) !important;
}

.tommorow-list {
  border: 1px solid rgba(255, 139, 0, 0.3) !important;
}

.text-class-left {
  color: var(--info);
}

.text-class-no-show {
  color: var(--purple);
}

.text-class-make-up {
  color: var(--orange);
}

.hover-text:hover {
  color: var(--text);
}

.table-light {
  background-color: #e6eefc;
}
.table-light th {
  height: 50px;
  min-width: 100px;
}

.bg-success {
  background-color: var(--success) !important;
}

.color {
  background-color: #4d73e0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.card .percent {
  position: relative;
}

.card svg {
  position: relative;
  width: 210px;
  height: 210px;
  transform: rotate(-90deg);
}

.card svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #f0f0f0;
  stroke-width: 10;
  stroke-linecap: round;
}

.card svg circle:last-of-type {
  stroke-dasharray: 625px;
  stroke-dashoffset: calc(625px - 625px * var(--percent) / 100);
  stroke: #3498db;
}

.card .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card .number h3 {
  font-weight: 200;
  font-size: 3.5rem;
}

.card .number h3 span {
  font-size: 2rem;
}

.card .title h2 {
  margin: 25px 0 0;
}

.card:nth-child(1) svg circle:last-of-type {
  stroke: #f39c12;
}

.card:nth-child(2) svg circle:last-of-type {
  stroke: #2ecc71;
}

.poor {
  border-color: #ff5c5c !important;
}

.very-good {
  border-color: #f0daa1 !important;
}

.very-good-fill {
  background-color: #f0daa1 !important;
}

.good {
  border-color: #A1CAF0 !important;
}

.good-fill {
  background-color: #A1CAF0 !important;
}

.exelent {
  border-color: #7EEABB !important;
}

.excellent-fill {
  background-color: #7EEABB !important;
}

.average-fill {
  background-color: #BFA1F0 !important;
}

.tag-bg {
  border-radius: 35px;
  background: rgba(0, 175, 255, 0.13);
  padding: 4px 8px;
  display: flex;
}

.border-success {
  border: 1px solid var(--success) !important;
  color: var(--success) !important;
}

.border-blue {
  border: 1px solid #A1CAF0 !important;
  color: #A1CAF0 !important;
}

.border-yellow {
  border: 1px solid #BFA1F0 !important;
  color: #BFA1F0 !important;
}

.border-purple {
  border: 1px solid #F0DAA1 !important;
  color: #F0DAA1 !important;
}

.light-br {
  border: 1px solid #384361 !important;
  background: none;
}

.padding-top {
  padding-top: 24px;
}
@media (min-width: 992px) {
  .padding-top {
    padding-top: 120px;
  }
}

.padding-bottom {
  padding-bottom: 24px;
}
@media (min-width: 992px) {
  .padding-bottom {
    padding-bottom: 120px;
  }
}

.box {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 24px;
}
@media (min-width: 992px) {
  .box {
    width: 242px;
    height: 194px;
  }
}

.min-h-section {
  min-height: 700px;
}

.overall-stats-box {
  background-color: #101B37;
  border-radius: 10px;
  background-image: url(../img/bg-stats.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.plain-card {
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 10px;
}

.court {
  color: var(--heading);
  background-color: #7EEABB;
  padding: 24px;
  border-radius: 10px;
  text-align: center;
}
.court a:hover {
  color: var(--heading);
  opacity: 0.6;
}

.class {
  color: var(--heading);
  background-color: var(--primary);
  border-radius: 10px;
  padding: 24px;
  text-align: center;
}
.class a:hover {
  color: var(--heading);
  opacity: 0.6;
}

.yrs-box {
  background-color: hsl(186, 100%, 92%);
  background-image: radial-gradient(at 80% 50%, hsl(210, 100%, 76%) 0px, transparent 50%), radial-gradient(at 80% 100%, hsl(204, 100%, 70%) 0px, transparent 50%);
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}
@media (min-width: 992px) {
  .yrs-box {
    width: 200px;
    margin-bottom: 0px;
  }
}

.progress-v2 {
  /* This for loop creates the 	necessary css animation names 
    Due to the split circle of progress-left and progress right, we must use the animations on each side. 
    */
}
.progress-v2 .progress {
  width: 90px;
  height: 90px;
  line-height: 90px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress-v2 .progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-v2 .progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress-v2 .progress .progress-left {
  left: 0;
}
.progress-v2 .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #ffb43e;
}
.progress-v2 .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-left: 0;
  transform-origin: center left;
}
.progress-v2 .progress .progress-right {
  right: 0;
}
.progress-v2 .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  border-right: 0;
  transform-origin: center right;
}
.progress-v2 .progress .progress-value {
  display: flex;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 300;
  width: 100%;
  height: 100%;
}
.progress-v2 .progress .progress-value span {
  font-size: 12px;
  text-transform: uppercase;
}
.progress-v2 .progress[data-percentage="10"] .progress-right .progress-bar {
  animation: loading-1 1.5s linear forwards;
}
.progress-v2 .progress[data-percentage="10"] .progress-left .progress-bar {
  animation: 0;
}
.progress-v2 .progress[data-percentage="20"] .progress-right .progress-bar {
  animation: loading-2 1.5s linear forwards;
}
.progress-v2 .progress[data-percentage="20"] .progress-left .progress-bar {
  animation: 0;
}
.progress-v2 .progress[data-percentage="30"] .progress-right .progress-bar {
  animation: loading-3 1.5s linear forwards;
}
.progress-v2 .progress[data-percentage="30"] .progress-left .progress-bar {
  animation: 0;
}
.progress-v2 .progress[data-percentage="40"] .progress-right .progress-bar {
  animation: loading-4 1.5s linear forwards;
}
.progress-v2 .progress[data-percentage="40"] .progress-left .progress-bar {
  animation: 0;
}
.progress-v2 .progress[data-percentage="50"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-v2 .progress[data-percentage="50"] .progress-left .progress-bar {
  animation: 0;
}
.progress-v2 .progress[data-percentage="60"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-v2 .progress[data-percentage="60"] .progress-left .progress-bar {
  animation: loading-1 1.5s linear forwards 1.5s;
}
.progress-v2 .progress[data-percentage="70"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-v2 .progress[data-percentage="70"] .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.5s;
}
.progress-v2 .progress[data-percentage="80"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-v2 .progress[data-percentage="80"] .progress-left .progress-bar {
  animation: loading-3 1.5s linear forwards 1.5s;
}
.progress-v2 .progress[data-percentage="90"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-v2 .progress[data-percentage="90"] .progress-left .progress-bar {
  animation: loading-4 1.5s linear forwards 1.5s;
}
.progress-v2 .progress[data-percentage="100"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress-v2 .progress[data-percentage="100"] .progress-left .progress-bar {
  animation: loading-5 1.5s linear forwards 1.5s;
}
@keyframes loading-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(36deg);
  }
}
@keyframes loading-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(72deg);
  }
}
@keyframes loading-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(108deg);
  }
}
@keyframes loading-4 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(144deg);
  }
}
@keyframes loading-5 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.progress-v2 .progress {
  margin-bottom: 1em;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}

.form-label {
  font-size: 14px !important;
}

.form-control {
  border: 1px solid var(--form-border) !important;
  height: 46px !important;
  font-weight: 300;
  font-size: 14px;
}
@media (min-width: 992px) {
  .form-control {
    height: 42px !important;
  }
}

.form-select {
  height: 46px !important;
}

.form-check-input:checked {
  background-color: var(--primary) !important;
  border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem var(--primary) !important;
}

.field-icon {
  right: 12px;
  top: 12px;
  position: absolute;
  z-index: 2;
  color: var(--text);
}
@media (min-width: 992px) {
  .field-icon {
    top: 8px;
  }
}

.form-gap {
  max-width: 400px;
}

.required .control-label:after {
  content: "*";
  color: red;
}

.file-drop-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed #d1d1d1;
  border-radius: 3px;
  transition: 0.2s;
  justify-content: center;
}

.choose-file-button {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  color: var(--text);
}

.file-message {
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.mt-100 {
  margin-top: 100px;
}

.head {
  width: 38px;
  height: 38px;
  background-color: #999;
  border-radius: 160px;
  flex: 0 0 auto;
}
.head img {
  width: 100%;
  height: 38px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dot-active {
  width: 10px;
  height: 10px;
  border-radius: 160px;
  background-color: red;
  flex: 0 0 auto;
}

.side-bar .profile-pic {
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  overflow: hidden;
}
.side-bar .profile-pic img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.small-pic {
  height: 90px !important;
  width: 90px !important;
}
.small-pic img {
  height: 90px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.menus ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menus ul li a {
  text-decoration: none;
  color: var(--text);
  font-size: 14px;
  width: 100%;
  padding: 14px;
  display: flex;
  border-radius: 8px;
}
.menus ul li a:hover {
  background-color: var(--heading);
  color: var(--white);
}
.menus ul li .active {
  background-color: var(--heading);
  color: var(--white);
}

.tab-manin-prof {
  margin-top: 24px;
  margin-bottom: 24px;
}
.tab-manin-prof a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  font-size: 16px;
  border-radius: 35px;
  background-color: #fff;
  color: var(--text);
  border: 1px solid #f1f1f1;
}
.tab-manin-prof .active {
  color: var(--white);
  background-color: #333;
}

.sub-manin-prof {
  margin-bottom: 24px;
}
.sub-manin-prof a {
  width: 100%;
  background-color: var(--white);
  padding: 16px 18px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  border-radius: 35px;
  border: 1px solid #f1f1f1;
}
.sub-manin-prof .active {
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.nav-pills .nav-link {
  width: 150px;
  border-radius: 35px;
  background-color: #fff;
  color: var(--heading);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: var(--primary);
}

.settings .nav-pills .nav-link {
  width: auto;
  background-color: #fff;
  color: var(--text);
  border-radius: 0px;
}
.settings .nav-pills .nav-link.active, .settings .nav-pills .show > .nav-link {
  background: none;
  border-bottom: 3px solid var(--primary);
}

.tabs-balck {
  margin-top: 16px;
}
.tabs-balck a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  background-color: #fff;
  border-radius: 35px;
  min-width: 160px;
  color: #666;
}
.tabs-balck .active {
  background-color: #333;
  color: #fff;
}

.tabs-options {
  margin-top: 16px;
}
.tabs-options a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 35px;
  min-width: 160px;
  color: #666;
}
.tabs-options .active {
  background-color: #333;
  color: #fff;
}

/*--------- Pager2 ---------*/
.Pager2 .pagination .page-item .page-link:hover {
  transition: all 0.3s linear;
  border-radius: 0.125rem;
  background-color: #eee;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.Pager2 .pagination .page-item.active .page-link {
  transition: all 0.2s linear;
  border-radius: 0.125rem;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  color: var(--primary);
}

.Pager2 .pagination .page-item .page-link {
  transition: all 0.3s linear;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 0.9rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.Pager2 .pagination .page-item.active .page-link {
  border: 1px solid #f1f1f1 !important;
  background-color: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pager2 .page-link {
  border: none !important;
}

.Pager2 .page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0;
}

.court-list ul {
  display: flex;
  gap: 8px;
}
.court-list ul li {
  display: flex;
  width: 40px;
  height: 40px;
  color: var(--heading);
  background-color: var(--white);
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}
.court-list ul li:hover {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}
.court-list ul .active {
  background-color: var(--primary);
  color: var(--white);
}

.time-list ul {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.time-list ul li {
  display: flex;
  min-width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--heading);
  background-color: var(--white);
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  padding: 10px 0px;
}
@media (min-width: 992px) {
  .time-list ul li {
    min-width: 300px;
  }
}
.time-list ul li:hover {
  background-color: #101b37;
  color: var(--white);
  cursor: pointer;
}
.time-list ul .active {
  background-color: #101b37;
  color: var(--white);
}

.date-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  color: var(--text);
  font-size: 14px;
}
.date-list .active {
  background-color: var(--heading);
  border-color: var(--heading);
  color: var(--white);
}

.pagination {
  gap: 8px;
}

.modal-header {
  padding: 48px 48px 24px 48px;
}

.modal-body {
  padding: 24px 48px 48px 48px;
}

.modal-content {
  border-radius: 20px;
}/*# sourceMappingURL=main.css.map */